body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px; /* creates room around the menu */
}

h1 {
  font-size: 40px;
  margin-top: 0; /* removes the default space between the h1 and the top of the menu section */
  margin-bottom: 15px; /* To remove some of the vertical space between the h1 element and the text Est. 2020 */
}

h2 {
  font-size: 30px;
}

.established { /* makes the "Est.2020" italic */
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu { /* the '.' makes menu a class selector */
  width: 80%;
  background-color: burlywood;
  margin-left: auto; /* margin-left and margin-right set to auto means that this section will be centered horizontally */
  margin-right: auto;
  padding: 20px; /* provides extra space on the sides (left, right, top, bottom)*/
  max-width: 500px; /* prevents the menu section from growing too wide if the page is visited using a large screen (the items and their prices won't be too far apart) */
}

img {
  display: block; /* makes <img> behave like a block level element, such as h1 */
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px /* pulls the images up from the current positions (lessening the gap between the image and the h2 element) */
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown; /* has a height of 2px (top and bottom). This must be considered when creating the height of hr */
}

.bottom-line {
  margin-top: 25px; /* ensures that the distance between "cinnamon roll" and the second <hr> matches the distance between "coffee" and the first <hr> */
}

h1, h2 {
  font-family: Impact, serif; /* different font from the rest of the page, serif will be used if Impact cannot */
}

.item p { /* .item p The p elements are nested in an article element with the class attribute of item. All the p elements can be styled anywhere in elements with a class named item */ 
  display: inline-block;
  margin-top: 5px; /* margin-top and margin-bottom: adjusts the items of the menu */
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%; /* determines how much room the flavor/dessert will take on the line */
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px; /* reduces the spacing at the bottom to match the top */
}

a { 
  color: black; /* changes the color of the link to black */
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
